
<h1><%= @subject %></h1>
<p>Dobr칳 de켿 <%= @requester_name %> 游녦</p>
<p>
  D켿a <%= l @access_request.created_at, format: :short %>, ste po쬴adali o
  pr칤stup k m칪jmu 쬴votopisu.
</p>
<p>
  Po presk칰man칤 va코ej 쬴adosti som sa rozhodol schv치li콘 ju. Teraz si m칪쬰te
  prezrie콘 m칪j 쬴votopis kliknut칤m na nasleduj칰ci odkaz:
</p>
<p>
  <%= link_to "Moje CV", @access_url %>
</p>
<p>
  Pozn치mka: Tento odkaz je jednorazov칳 a vypr코칤 o t칳쬯e켿. Ak budete potrebova콘
  pr칤stup znova, po코lite nov칰 쬴ados콘.
</p>
<br>
<p>
  S pozdravom<br>
  Niza
</p>
<footer>
  Neodpovedajte na tento e-mail. Ak ste neposlali 쬴ados콘 o pr칤stup k 쬴votopisu
  z <%= link_to "niza.cz", @base_url %>, ignorujte tento e-mail.
</footer>
