<% id = local_assigns.fetch(:id, "demo") %>
<% tabs = local_assigns.fetch(:tabs, []) %>
<% selected_tab = local_assigns.fetch(:selected_tab, "result") %>

<section class="demo">
  <header class="demo-header">
    <%= render "demo/content/#{id}/header" rescue nil %>
  </header>
  <div class="demo-content">
    <%= render "application/tablist", id: id, tabs: tabs %>
    <% tabs.each do |tab| %>
      <%= render "application/tabpanel", id: tab[:id], hidden: !tab[:selected], code_block: true do %>
        <% if tab[:key] == "result" %>
          <%= render "demo/content/#{id}/#{tab[:key]}" rescue nil %>
        <% else %>
          <%= render "application/code_block", lang: tab[:lang], with_copy_button: false do %>
            <%= render "demo/content/#{id}/#{tab[:key]}" rescue nil %>
          <% end %>
        <% end %>
      <% end %>
      <% unless tab[:key] == "result" %>
        <%= render "application/copy_button", text: ":selector(\##{tab[:id]} > code > pre)" rescue nil %>
      <% end %>
    <% end %>
  </div>
</section>

<% content_for_scripts "demo" do %>
  <%= javascript_include_tag "demo-result" %>
<% end %>
<% content_for_styles "demo" do %>
  <style>
    .demo {
      display: grid;
      gap: 1rem;
    }

    .demo-header {
      display: grid;
      gap: 1rem;
    }

    .demo-content {
      display: grid;
      gap: 0;
      position: relative;

      & .copy-button {
        position: absolute;
        right: 1rem;
        bottom: 1rem;

        [hidden] + & {
          display: none;
        }
      }
    }
  </style>
<% end %>
