<% content_for :page_title do %>Dobrý, som Niza!<% end %>
<% content_for :page_description do %>Productivity workflows evangelist, consultant, and web dev basics teacher.<% end %>
<% content_for :page_description do %>Evangelista workflow-ov produktivity, konzultant a učiteľ základov web vývoja.<% end %>
<% content_for :page_header_color do %>orange<% end %>
<% content_for :page_header do %>
  <%= render "avatar" %>
  <p>
    Som evangelista workflow-ov produktivity, konzultant a učiteľ základov web
    vývoja. S vášňou pomáham ľuďom byť produktívnejšími a efektívnejšími vo
    svojej práci a osobnom živote.
  </p>
  <p>
    Ak máte záujem o konzultácie týkajúce sa osobnej organizácie a produktivity
    alebo hľadáte mentora, ktorý vám pomôže zlepšiť vaše zručnosti v oblasti
    web vývoja, pozrite si moje <%= link_to "služby", "services" %>.
  </p>
  <%= render "application/social_link_list", links: @social_links %>
<% end %>
<main>
  <section class="section">
    <h2>Blog</h2>
    <p>
      Mám blog na <%= render "application/blog_link" do %>HEY World<% end %>.
      Zvyknem pridávať všetko možné týkajúce sa mojej práce a záujmov. Ak chcete
      byť informovaní o nových príspevkoch, môžete si prihlásiť odber RSS.
    </p>
  </section>
  <section class="section">
    <h2>Demá</h2>
    <p>
      Pozrite si niektoré z dem, ktoré som vytvoril. Väčšina z nich je z môjich
      blogových príspevkov, ale niektoré sú len tak pre zábavu.
    </p>
    <%= link_to "Demá", "demo" %>
  </section class="section">
  <section class="section">
    <h2>Skúsenosti</h2>
    <p>
      Pozrite si moje skúsenosti a zručnosti, ktoré som získal počas svojej
      kariéry. Môžete sa dozvedieť viac o mojich projektov a spolupráciach.
    </p>
    <%= link_to "Skúsenosti", "experience" %>
  </section class="section">
</main>
