<% text = local_assigns.fetch(:text, "") %>

<button
  class="copy-button unset"
  title="<%= t "copy_to_clipboard" %>"
  type="button"
  data-text='<%= text %>'
>
  <%= render "icon/clipboard" %> 
  <%= render "icon/check" %> 
  <%= render "icon/alert" %> 
</button>

<% content_for_head_once "copy-button" do %>
  <%= javascript_include_tag "copy-button", type: "module" %>
<% end %>
