<% paths = ["home", "demo", "experience", "services"] %>
<% dialog_id = "locale-change-dialog" %>
<% ordered_locales = I18n.available_locales.sort_by { |locale| locale == I18n.locale ? 0 : 1 } %>

<nav class="nav-panel">
  <ul class="custom-scrollbar">
    <% paths.each do |path| %>
      <li>
        <%= link_to t("route.#{path}"), localize_path(path: path) %>
      </li>
    <% end %>
  </ul>
  <button
    type="button"
    class="locale-change-button"
    id="locale-change-button"
    aria-label="<%= t "locale.change" %>"
    aria-controls="<%= dialog_id %>"
    aria-expanded="false"
    onclick='
      const dialog = document.getElementById("<%= dialog_id %>");
      const isOpen = dialog.open;
      
      dialog[isOpen ? "close" : "show"]();
      this.setAttribute("aria-expanded", !isOpen);
    '
  >
    <%= render "icon/globe" %>
  </button>
  <dialog
    id="<%= dialog_id %>"
    class="locale-change-dialog"
    aria-labelledby="locale-change-button"
  >
    <h2 class="sr-only"><%= t "locale.change" %></h2>
    <ul>
      <% ordered_locales.each do |locale| %>
        <li>
          <%= link_to t("locale.#{locale}"), localize_path(locale: locale) %>
        </li>
      <% end %>
    </ul>
  </dialog>
</nav>
