<% id = local_assigns.fetch(:id, "") %>
<% hidden = local_assigns.fetch(:hidden, false) %>
<% code_block = local_assigns.fetch(:code_block, false) %>

<div
  role="tabpanel"
  id="<%= id %>"
  data-has-code-block="<%= code_block %>"
  aria-labelledby="<%= id %>-tab"
  <%= hidden ? 'hidden' : '' %>
>
  <%= yield %>
</div>

<% content_for_styles "tabpanel" do %>
  <style>
    [role="tabpanel"]:not([hidden]) {
      display: flex;
      flex-direction: column;
      border: 2px solid hsl(var(--theme-light));
      border-bottom-left-radius: var(--br-lg);
      border-bottom-right-radius: var(--br-lg);
      padding: 1rem;
      position: relative;

      :is([data-has-code-block="true"], &:has(code)) {
        height: 25rem;
        overflow: auto;
        resize: vertical;
      }
    }
  </style>
<% end %>
